h1 {
	text-align: center;
}

div.navbar {
	padding-left: 0px;
	background-color: #FFE4E1;
}

div.content {
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 15px;
	background-color: #FFE4E1;
}

p.disclaimer {
	background-color: #FFE4E1;
	padding-left: 150px;
	padding-right: 150px;
}

div.background {
	background-color: rgb(220, 220, 220);
}

img {
	width: 400px;
	height: 320px;
}

p3 {
	font-size: 0.75em;
}

div.p3 {
	background-color: rgb(220, 220, 220);
}

figure {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}
